.DS_Store
*.class
/target/
/out/
/build/out/
/.idea/
*.iml
*.ipr
*.iws
*.blend1
/web/app/test/viz/**
/npm-debug.log
/node_modules
/dist
/.vs
/web/docs/
pnpm-lock.yaml
tmp-eslint.json
tmp_eslint_config_snapshot.txt
